
{% load static %}
{% block content %}
<body>
<mainleat>
        <section class="glass">
            <div class="tokendashboard">
                <div class="investor">
                    <img src="{% static 'seals/LEAT.png' %}" alt="LEAT Seal">
                    <h3>connected</h3>
                    <p>Investor</p>
                </div>
                <div class="links">
                    <div class="link">
                        <img src="{% static 'seals/LEAT.png' %}" width="50" height="50" alt="LEAT Token info">
                    <h2>LEAT Token info</h2>
                    </div>
                    <div class="link">
                        <img src="{% static 'seals/LEAT_roadmap_2.png' %}" width="50" height="50" alt="Roadmap">
                    <h2>Project Roadmap</h2>
                    </div>
                    <div class="link">
                    <img src="{% static 'seals/LEAT_paper.png' %}" width="50" height="50" alt="Paper">
                    <h2>Paper</h2>
                    </div>
                    <div class="link">
                    <img src="{% static 'seals/LEAT_annoucements.png' %}" width="50" height="50" alt="Announcements">
                    <h2>Announcements</h2>
                    </div>
                    <div class="link">
                    <img src="{% static 'seals/LEAT_twitter.png' %}" width="50" height="50" alt="Twitter">
                    <h2>Twitter</h2>
                    </div>
                    <div class="link">
                    <img src="{% static 'seals/LEAT_discord.png' %}" width="50" height="50" alt="Discord">
                    <h2>Discord</h2>
                    </div>
                    <div class="link">
                    <img src="{% static 'seals/LEAT_support.png' %}" width="50" height="50" alt="Support">
                    <h2>Support</h2>
                    </div>
                </div>
            </div>

            <div class="leatexchange">
                <div class="coins_tokens">
                    <div class="coins_tokens_nfts_in_wallets">
                        <h1>ASSETS</h1>
                        <!-- <input type="text" /> -->
                    </div>
                </div>
                <div class="buy_sell_button">
                    <div class="buy_button">Buy</div>
                    <div class="sell_button">Sell</div>
                </div>
                <div class="cards">
                    <div class="card">
                        <h2 class="amount">100</h2>
                        <img src="{% static 'seals/LEAT.png' %}" width="50" height="50" alt="">
                        <h2>Coin/Token/Nft Name</h2>
                        <p>Coin/Token/Nft Type</p>
                        <h2 class="value">$1000</h2>
                    </div>
                    <div class="cards">
                        <div class="card">
                            <h2 class="amount">100</h2>
                            <img src="{% static 'seals/LEAT.png' %}" width="50" height="50" alt="">
                            <h2>Coin/Token/Nft Name</h2>
                            <p>Coin/Token/Nft Type</p>
                            <h2 class="value">$1000</h2>
                        </div>
                    </div>
                    <div class="cards">
                        <div class="card">
                            <h2 class="amount">100</h2>
                            <img src="{% static 'seals/LEAT.png' %}" width="50" height="50" alt="">
                            <h2>Coin/Token/Nft Name</h2>
                            <p>Coin/Token/Nft Type</p>
                            <h2 class="value">$1000</h2>
                        </div>
                        <div class="cards">
                            <div class="card">
                                <h2 class="amount">100</h2>
                                <img src="{% static 'seals/LEAT.png' %}" width="50" height="50" alt="">
                                <h2>Coin/Token/Nft Name</h2>
                                <p>Coin/Token/Nft Type</p>
                                <h2 class="value">$1000</h2>
                            </div>
                        </div>
                        <div class="cards">
                            <div class="card">
                                <h2 class="amount">0.005865627</h2>
                                <img src="{% static 'seals/LEAT.png' %}" width="50" height="50" alt="">
                                <h2>Coin/Token/Nft Name</h2>
                                <p>Coin/Token/Nft Type</p>
                                <h2 class="value">$1000</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </mainleat>
</body>
{% endblock content %}
